/*

Darko Bunic
http://www.redips.net/
Apr, 2011.

*/

body {
	font-family: arial;
	margin: 0px;
}
::selection{
	background: #fff;
}
/* make drag container visible */
#redips-drag {
	width: 375px;
}

/* set border-collapse */
div#redips-drag table {
/* 	border-collapse: collapse; */
	border-collapse: separate;
	border-spacing: 0px;
	width: 375px;
}
	/* define margin below first table */
	.tbl1 {
		margin-bottom: 17px;
	}

/* set table row height */
div#redips-drag table tr {
}

/*
	http://stackoverflow.com/questions/4096390/table-border-color-in-css-with-border-collapse

	if collapsing borders have the same style and width, but differ in color,
	then from most to least preferred: cell, row, row group, column, column group, table.

	if ... come from same type of element, such as two rows... then color is taken from
	borders that are the topmost and the leftmost.

	wider border wins over narrower ones / double wins over solid, then dashed, dotted, ridge, outset, groove, inset
*/
div#redips-drag td {
	position: relative;
	padding: 0px;
	background: #fff;
}

/* table titles */
div#redips-drag th {
	font-size: 14pt;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	position: absolute;
	top: 22px;
	right: 15px;
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 10pt;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* blue DIV elements */
.blue {
	border-color: SteelBlue;
}

/* orange DIV elements */
.orange {
	border-color: #FF8A58;
}

/* DIV row handlers (blue left column) */
.redips-row {
	width: 20px;
	margin: 2px;
	/*background: url(images/dragHand.png) no-repeat left top;*/
	background: transparent;
	border: 0px;
}

/* row handler TD background color */
.redips-rowhandler {
	background-color: #fff;
}

/* marked cells (forbidden access for header and message line) */
.redips-mark {
	color: white;
	background-color: #aaa;
	text-align: center;
}

/* row dark */
.rd {
	background-color: #ddd;
}

/* row light */
.rl {
	background-color: #eee;
}

/* cell dark */
.cdark {
	background-color: #C6C8CB;
}
.tripEditPage{
	width: 375px;
	position: relative;
}
.tripEditPage-banner{
	width: 375px;
	height: 268px;
	background: url(../images/trip/Trip-Done.png);
}
div#redips-drag .dragDay {
	width: 375px;
	height: 69px;
}
div#redips-drag .day01 {
	background: url(../images/trip/day01.png) no-repeat top left;
}
div#redips-drag .day02 {
	background: url(../images/trip/day02.png) no-repeat top left;
}
div#redips-drag .day03 {
	background: url(../images/trip/day03.png) no-repeat top right;
}
div#redips-drag .day04 {
	background: url(../images/trip/day04.png) no-repeat top right;
}
div#redips-drag .day05 {
	background: url(../images/trip/day05.png) no-repeat top right;
}
div#redips-drag .day06 {
	background: url(../images/trip/day06.png) no-repeat top right;
}
.tipBtn{
	position: absolute;
	/*border: 1px solid red;*/
	width: 35px;
	height: 35px;
	top: 0px;
}
.tipEditBtn-back{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 19px;
	left: 8px;
}
.tipEditBtn-edit{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 20px;
	right: 8px;
}
.tipEditBtn-note{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 216px;
	right: 5px;
}
.tipEditBtn-campList{
	width: 370px;
	height: 480px;
	position: absolute;
	top: 116px;
	right: 0px;
}
